# Terraform state files (PODEM conter secrets!)
*.tfstate
*.tfstate.*
*.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Variables com valores reais (secrets)
*.tfvars
*.tfvars.json
!example.tfvars

# Pasta de plugins/providers baixados
.terraform/


# Override files (locais, não vão pro repo)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Plan output
*.tfplan